
.button{
    color: transparent;
    -webkit-text-stroke: 1px black;
    position: relative;
    border: none;
    background: transparent;
    letter-spacing: 4px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    top: 200px;
    left: 200px;
}
span{
    color: transparent;
}
.front-text {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    border-bottom: 2px solid transparent;
    animation: 3s anim infinite;
    width: 0%;

}

.button:hover .front-text{
    width: 100%;
    border-bottom: 2px solid #03a9f4;
    -webkit-text-stroke: 1px #5f03f400;
}

@keyframes anim {
    0%{
        background-position: 0%;

    }50%{
        background-position: 400%;

    }100%{
        background-position: 0%;
    }
}


